$primary-text: #1d2130;
$secondary-text: #525560;
$black-color: #0b0706;
$white: #fff;
$green-primary: #70c174;
$green-tertiary: #eff7f2;
$green-secondary: #bef3c0;
$violet: #ac94f1;
$orange: #f9cf64;
$pink: #f38fbf;
$yellow: #fff0ca;
$off-white: #ebf0f9;
